/* Globalni stilovi */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Pozadina sa slikom */
body {
    background-image: url('pozadinska.slika.jpg'); /* Koristite relativnu putanju do slike */
    background-size: cover; /* Pokriva celu pozadinu */
    background-position: center; /* Centriranje slike */
    background-repeat: no-repeat; /* Ne ponavljaj sliku */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.weather-container {
    background: rgba(255, 255, 255, 0.9); /* Blago prozirna pozadina */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.title {
    font-size: 1.8em;
    color: #2980b9;
    margin-bottom: 10px;
}

.city-selector {
    margin: 15px 0;
}

.city-selector label {
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.weather-display {
    margin-top: 20px;
}

.weather-item {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.description {
    font-style: italic;
    color: #2980b9;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/* Stilovi za vremensku prognozu */
.forecast-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-item {
    text-align: center;
    margin: 10px;
    flex: 1 0 45%; /* Podesite širinu svakog elementa prema potrebama */
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forecast-date {
    font-weight: bold;
    font-size: 0.9em;
}

.forecast-icon {
    width: 50px;
    height: 50px;
}

.forecast-temp, .forecast-desc {
    margin: 5px 0;
    font-size: 1em;
}
